{% extends "base.html" %}
{% block title %}Add new term{% endblock %}
{% block content %}
<h1>Add new term</h1>
<form action="#" method="post">
    <p>Term in foreign language:</p>
    <p><input type="text" name="tm" /></p>
    <p>Translation:</p>
    <p><input type="text" name="tl" /></p>
    <p>
        Add another
        <input type="checkbox" id="other" name="another" value="yes" checked>

        <input type="submit" name="sub" value="Save term" />
    </p>
</form>
<a href="//127.0.0.1:5000/">Back</a>
{% endblock %}