<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
</head>
<body>
    <h1 style="text-align: center">Practice</h1>
    {% for answer in answers.keys() %}
        <p>{{answer}}: {{answers[answer]}} {{results[answer]}}</p>
    {% endfor %}
    <p></p>
    {% if hits + misses < length %}
        <form action="#" method="post">
            <p>Translate the following:</p>
            <p>
                <input type="text" name="word" value="{{terms[hits+misses]}}" readonly/>
                <input type="text" name="answer"/>
                <input type="submit" value="submit"/>
            </p>
        </form>
        <p></p>
        <p>Hits: {{hits}}, Misses: {{misses}}</p>
        <p></p>
        <a href="//127.0.0.1:5000/">Back</a>
    {% else %}
        <p>Practice over! You scored {{hits}}/{{hits+misses}}</p>
        <p><a href="//127.0.0.1:5000/practice/complete/">Complete practice</a></p>
    {% endif %}
</body>
</html>